<div id="flashes">
  <!-- 'error' kind -->
  <% if (messages && messages.error) { %> 
    <div class="errors">
      <% for (msg of messages.error) {%>
      <p><%= msg %></p>
      <% } %>
    </div>
  <% } %>

<!-- 'info' kind -->
  <% if (messages && messages.info) { %>
    <div class="info">
      <% for (msg of messages.info) {%>
      <p><%= msg %></p>
      <% } %>
    </div>
    <% } %>
    </div>
</div>