<div id="dividerNav">
  <div class="navbar">
    <a href="/postings/" class="home" id="navBarText">logo</a> <%# need to add img of logo %>
    <a href="/oppForm/" class="button" id="navBarText">create opportunity</a>
    <a href="/user/<%= userUID %>/" id="navBarText">Hi, <%= userName %></a>
  </div>
</div>
