<nav>
  <div id="dividerNav">
    <div class="navbar">
      <a href="/postings/" id="logo" style="margin-left: 10px;" >
        <img src="/IMG_0056.png" width="60px" height="40px"/>
      </a>
      <a href="/postings/" class="navBarText">postings</a>
      <a href="/oppForm/" class="navBarText">create opportunity</a>
      <a href="/user/<%= userUID %>/" class="navBarText">Hi, <%= userName %></a>
    </div>
  </div>
</nav>