<div id="dividerNav">
  <div class="navbar">
    <p id="logo">empoWer</p>
    <a href="/postings/" class="navBarText">postings</a>
    <a href="/oppForm/" class="navBarText">create opportunity</a>
    <a href="/user/<%= userUID %>/" class="navBarText">Hi, <%= userName %></a>
  </div>
</div>
