<div id="divider">
  <div class="navbar">
    <a href="/postings/" class="home">logo</a> <%# need to add img of logo %>
    <button>create opportunity</button>
    <a href="/user/<%= userName %>/">Hi, <%= userName %></a>
  </div>
</div>
