<div id="dividerNav">
  <div class="navbar">
    <a href="/postings/" class="home">logo</a> <%# need to add img of logo %>
    <a href="/oppForm/" class="button">create opportunity</a>
    <a href="/user/<%= userUID %>/">Hi, <%= userName %></a>
  </div>
</div>
