<div id="dividerNav">
    <div class="navbar">
      <a href="/postings/" id="logo" style="margin-left: 10px;" >
        <img src="/IMG_0056.png" width="60px" height="40px"/>
      </a>
      <a href="/" class="navBarText">home</a>
    </div>
</div>