<div id="dividerNav">
    <div class="navbar">
      <a href="/postings/" id="logo" style="margin-left: 10px;" >
        <img src="/IMG_0056.png" width="85px" height="25px"/>
      </a>
    </div>
</div>