<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>EmpoWered in Tech</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/simpleNavbar.ejs") %>
    <%- include("partials/flashes.ejs") %>

<form class="form"
     id="userForm"
     method="POST"
     action="/userForm">
   <p><label>Full name: <input name="fullName" placeholder="Wendy Wellesley" required></label></p>


   <p><label>Username: <input name="uid" placeholder="wendy92438" required></label></p>


   <p>Wellesley email: <%= email %> </p>


   <p><label>User status:
   <select name="userStatus" required>
       <option value="">Choose Type</option>
       <option value="Alumn">Alumn</option>
       <option value="Professor">Professor</option>
       <option value="Staff">Staff</option>
       <option value="Student">Student</option>
       <option value="Affiliate">Other Affiliate</option>
   </select>
   </label></p>


   <div id="interestTypeDropdown" class="dropdown-check-list" tabindex="100">
       <span class="interestType">Choose Interest(s)</span>
       <ul class="items">
         <li><label><input type="checkbox" name="industry" value="bioinformatics"/>Bioinformatics</label></li>
         <li><label><input type="checkbox" name="industry" value="cloud"/>Cloud Computing/Development</label></li>
         <li><label><input type="checkbox" name="industry" value="compVision"/>Computer Vision</label></li>
         <li><label><input type="checkbox" name="industry" value="dataScience"/>Data Science</label></li>
         <li><label><input type="checkbox" name="industry" value="graphics"/>Graphics</label></li>
         <li><label><input type="checkbox" name="industry" value="hci"/>Human-Computer Interaction</label></li>
         <li><label><input type="checkbox" name="industry" value="ml"/>Machine Learning</label></li>
         <li><label><input type="checkbox" name="industry" value="prodDesign"/>Product Design</label></li>
         <li><label><input type="checkbox" name="industry" value="prodMgmt"/>Product Management</label></li>
         <li><label><input type="checkbox" name="industry" value="swe"/>Software Engineering</label></li>
         <li><label><input type="checkbox" name="industry" value="systems"/>Systems</label></li>
         <li><label><input type="checkbox" name="industry" value="uiux"/>UI/UX</label></li>
         <li><label><input type="checkbox" name="industry" value="other"/>Other</label></li>
       </ul>
     </div>


   <p><label>If "Other", please specify: <input type=text name="otherInterest"></label></p>


   <p><label>Class Year (optional): <input type=text name="classYear" placeholder="2020"></label></p>


   <p><label>Major(s) (optional): <input type=text name="majors" placeholder="Computer Science, Economics"></label></p>
   <p><label>Minor (optional): <input type=text name="minors" placeholder="Art History"></label></p>


   <p><button type="submit">Post!</button></p>
</form>

</body>
</html>
