h1 {
  color: purple;
  font-family: Neue Helvetica, sans-serif;
}

.feedContainer {
  background-color: lightgray;
  margin: auto;
  margin-bottom: 10px;
  width: 50%;
  padding: 20px;
  border-radius: 25px;
  border: 2px gray;
}

.search {
  margin-top: 10px;
  width: 50%;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid palevioletred;
}

#feedBox:hover {
  background-color: lightblue;
}

#dividerNav {
  background-color: rgb(201, 145, 201);
  padding: 5px;
  align-items: center;
}

#dividerNav * {
  display: inline;
}

#dividerNav a {
  margin: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-family: Neue Helvetica, sans-serif;
}

p {
  font-family: Neue Helvetica, sans-serif;
}